.title__div {
    display: flex;
    flex-direction: row-reverse;
    background-color: #E0F2F7;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

@media (max-width: 425px) {
    .title__div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    } 
}